body {
    height: 500px;
    width: 500px;
    overflow: hidden; /* Prevent the body from scrolling */
}

#container {
    height: 400px; /* Set a fixed height for the container */
    overflow-y: auto; /* Enable vertical scrolling */
}

a.nav-link {
    color: white;
}

button.btn-link {
    background-color: darkgray;
    color: white;
    text-decoration: none;
}

button.btn-link:hover {
    background-color: gray;
    color: white;
    text-decoration: none;
}

ul.navbar-nav {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    width: 100%;
    height: 50px;
}

li.nav-item {
    list-style-type: none;
    margin: 0 15px;
}

input.input-form {
    width: 210px;
}

#full-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row nowrap;
}

.button {
    text-decoration: none;
    background-color: gray;
    color: white;
    padding: 2px 6px 2px 6px;
    border-top: 3px solid #CCCCCC;
    border-right: 3px solid #333333;
    border-bottom: 3px solid #333333;
    border-left: 3px solid #CCCCCC;
}

a:hover {
    color: white !important;
    text-decoration: none;
    cursor: pointer;
}

li.listItem:hover {
    background-color: lightgray;
}

li.listItem:focus {
    background-color: lightgray;
}

input[type="checkbox"]:hover {
    cursor: pointer;
}
.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 1s linear infinite;
    display: inline-block;
    vertical-align: middle;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}